/*El margen: es la distancia entre el borde de un elemento y el borde de otros elementos*/
div{ /*El div: Actua como un contenedor*/
    background-color: crimson; /*La propiedad background-color: Sirve para agregarle un color de fondo al div*/
}

img{
    width: 300px;
    /*Para personalizar el borde en cada lado hacemos lo siguiente:*/

    margin: 15px;/*La propiedad CSS margin: establece el margen para los cuatro lados*/
    background-color: yellow;
    border-width: 2px; /*La propiedad border-width: Sirve para darle un tamano al borde de imagen*/
    border-color: white; /*La propiedad border-color: Sirve para asignarle un color al borde*/
    border-style: solid; /*La propiedad border-style: Sirve para darle un estilo al borde*/
}